@CHARSET "UTF-8";

.nav.side-menu li ul {
	list-style-type: none;
	padding: 0;
	clear: both;
	display: none;
}

.nav.side-menu li.active ul {
	display: block;
}

.nav.side-menu li ul li a {
    display: block;
    padding: 10px 20px;
}

/*
.nav.side-menu li.active ul:last-child {
    border-bottom: 1px solid #333;
}*/

.nav.side-menu li ul li a,
.nav.side-menu li ul:hover li.active a {
    background: rgba(0,0,0,0.2);
}

.nav.side-menu li ul li.active a,
.nav.side-menu li ul li a:hover,
.nav.side-menu li ul:hover li.active:hover a {
	background: rgba(0,0,0,0.4);
}

.navbar-static-side ul li:first-child a {
    padding: 15px;
}

.center-wrapper {
	margin: 150px auto;
	max-width: 500px;
	padding: 15px;
}

form .form-group {
	margin: 0 !important;
}