          
          <h1 class="page-header">Are you sure?</h1>
          
          <div class="col-sm-12">
          <form method="post">
            <button type="submit" name="submit" value="yes">Yes</button>
            <button type="submit" name="submit" value="no">No</button>
          </form>
          </div>
