<div class="panel panel-green">
	<div class="panel-heading">{$pageLabel}</div>
	<div class="panel-body pan">
		<div class="form-body pal">
		{$this->form($form->prepare(), false)}
		</div>
	</div>
</div>