
      {$this->headLink()->appendStylesheet('css/signin.css')}
      
      <div class="form-signin">
      <h2 class="form-signin-heading">Success register</h2> 
      <p>Lorem ipsum..</p>
      <p><a href="{url route="application/login"}">Login</a></p>
      </div>
      